# .gitignore

# Byte-compiled / cache
__pycache__/
*.pyc

# PyCharm
.idea/

# OS junk
.DS_Store

# Virtual environments (optional if you’re committing environments)
env/
venv/


# Data or logs (if any)
*.log
